# The REPOSITORY_*, ZULIP_*, and TAG_FILE vars are used by deploy.sh
TAG_FILE=/home/build/deployment/tag_to_deploy
REPOSITORY_PREFIX=https://raw.githubusercontent.com/PhilanthropyDataCommons/deploy
REPOSITORY_FILE=compose.yml
ZULIP_BASE_URL=
ZULIP_BOT_EMAIL_ADDRESS=
ZULIP_BOT_API_KEY=
ZULIP_STREAM=
ZULIP_TOPIC=

# This var (and others above and below) are used by renewCerts.sh
WEB_SERVER_HOSTNAME=replace_this_with_the_pdc_service_hostname

# The remaining variables are for the compose.yml script
DATABASE_CONTAINER_USER=901
PG_DATA=/home/database
PG_USER=pdc
PG_PASS=you_should_replace_this_with_your_own_pdc_passphrase
PG_POSTGRES_PASS=you_should_replace_this_with_your_own_postgres_passphrase
PG_DB=pdc
PG_PORT=5432
WEB_CONTAINER_USER=902
REVERSE_PROXY_CONTAINER_USER=903
REVERSE_PROXY_CONTAINER_GROUP=903
# Permission issues can be avoided by creating the following files prior to
# launching the compose script. For the certificate pairs, one could get started
# with a single self-signed certificate for both web and auth.
NGINX_CONF=/home/reverse-proxy/proxy.conf
WEB_CERT=/etc/letsencrypt/live/YOUR_WEB_DOMAIN_NAME_HERE/fullchain.pem
WEB_KEY=/etc/letsencrypt/live/YOUR_WEB_DOMAIN_NAME_HERE/privkey.pem
AUTH_CERT=/etc/letsencrypt/live/YOUR_AUTH_DOMAIN_NAME_HERE/fullchain.pem
AUTH_KEY=/etc/letsencrypt/live/YOUR_AUTH_DOMAIN_NAME_HERE/privkey.pem
AUTH_ROOT_PAGE=/home/reverse-proxy/auth_root_page.html
AUTH_CONTAINER_USER=904
KEYCLOAK_PG_INITDB_SCRIPT=/home/database/keycloakInitDb.sh
KEYCLOAK_PG_PASSWORD=you_should_replace_this_with_your_own_keycloak_db_passphrase
KEYCLOAK_ADMIN_PASSWORD=you_should_replace_this_with_your_own_keycloak_admin_passphrase
KEYCLOAK_MANAGEMENT_PASSWORD=you_should_replace_this_with_your_own_keycloak_management_passphrase
AUTH_SERVER_HOSTNAME=you_should_replace_this_with_the_public_facing_hostname_of_the_auth_server
KEYCLOAK_CUSTOM_SMS_PROVIDER_JAR=/home/auth/twilio-keycloak-provider-all-20230303-de69b1b.jar
KEYCLOAK_CUSTOM_SMS_PROVIDER_DEPENDENCY_JAR=/home/auth/dasniko-keycloak-requiredaction-20230217-626f568.jar
KEYCLOAK_CUSTOM_THEME_JAR=/home/auth/pdc-keycloak-theme.jar
TWILIO_PHONE_NUMBER=replace_this_with_a_twilio_number_to_send_messages_from
TWILIO_ACCOUNT_SID=replace_this_with_your_twilio_account_sid
TWILIO_AUTH_TOKEN=replace_this_with_your_twilio_auth_token
AUTH_SERVER_ISSUER=replace_this_with_your_keycloak_realm_url
OPENAPI_DOCS_AUTH_CLIENT_ID=replace_this_with_the_client_id_of_a_client_in_keycloak_for_openapi
