server {
    listen 0.0.0.0:8443 ssl;
    server_name # Add your domain name for the back-end web service here.
                reverse-proxy # This is the within-docker name.
                localhost 127.0.0.1;
    # Volumes mounted in the compose.yml
    ssl_certificate /opt/bitnami/nginx/conf/web-cert.pem;
    ssl_certificate_key /opt/bitnami/nginx/conf/web-key.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_ciphers 'DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:TLS_AES_128_GCM_SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-CHACHA20-POLY1305:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256';
    add_header Strict-Transport-Security "max-age=31536000" always;

    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header Host $http_host;
    proxy_set_header X-NginX-Proxy true;

    # The PDC API implementation, the web service.
    location / {
        proxy_pass http://web:3000;
    }
}

server {
    listen 0.0.0.0:8443 ssl;
    server_name # Add your domain name for the auth service here.
    # Volumes mounted in the compose.yml
    ssl_certificate /opt/bitnami/nginx/conf/auth-cert.pem;
    ssl_certificate_key /opt/bitnami/nginx/conf/auth-key.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_ciphers 'DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:TLS_AES_128_GCM_SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-CHACHA20-POLY1305:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256';
    add_header Strict-Transport-Security "max-age=31536000" always;

    # Keycloak can set large cookies and headers
    proxy_buffer_size 16k;
    proxy_buffers 8 16k;

    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header Host $http_host;
    proxy_set_header X-NginX-Proxy true;

    # The authentication and authorization service.
    location /admin/ {
        proxy_pass http://auth:8080/admin/;
    }

    location /js/ {
        proxy_pass http://auth:8080/js/;
    }

    location /realms/ {
        proxy_pass http://auth:8080/realms/;
    }

    location /resources/ {
        proxy_pass http://auth:8080/resources/;
    }

    location /robots.txt {
        proxy_pass http://auth:8080/robots.txt;
    }

    # A fallback page in case someone visits directly.
    # Volume mounted in compose.yml at default root /app directory.
    location / {
        index auth_root_page.html;
    }
}
